body{
  font-style:italic;
  font-size: small;
  font-family: Georgia,"times New Roman";
  line-height:1.9em;
}

.guarantee {
  border-color:white;
  border-width:1px;
  border-style:dashed;
  background-color:aquamarine;
  margin:30px;
  background-image:url(images/background.gif) ;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


h1,h2{
  color: #444;;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}